<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../partials/head', { title: page[0].name }) %>
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="img/medication-tracking-logo.png" alt="medication-tracking-logo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <%- include('../partials/navbar') %>

      <!-- Main Sidebar Container -->
      <%- include('../partials/sidebar') %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0">
                    <%= page[0].name %>
                  </h1>
                </div><!-- /.col -->
                <%- include('../partials/breadcrumb') %>
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Lista de Medicamentos</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal"
                        data-target="#modalCadastroMedicamento">Novo</button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap" id="listaDeMedicamentos">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Fabricante</th>
                          <th>Nome Comercial</th>
                          <th>Nome Generico</th>
                          <th>Forma Farmaceutica</th>
                          <th>Opções</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% dados.forEach(function(dado) { %>
                          <tr>
                            <td>
                              <%= dado.medicamento_id %>
                            </td>
                            <td>
                              <%= dado.fabricante_nome %>
                            </td>
                            <td>
                              <%= dado.medicamento_nome_comercial %>
                            </td>
                            <td>
                              <%= dado.medicamento_nome_generico %>
                            </td>
                            <td>
                              <%= dado.forma_farmaceutica_descricao %>
                            </td>
                            <td>
                              <div class="btn-group btn-group-sm">
                                <button type="button" id="btnUpdateMedicamento" class="btn btn-outline-secondary" data-medicamento-id="<%= dado.medicamento_id %>">
                                  <i class="fas fa-pen"></i>
                              </button>
                              <button type="button" id="btnViewMedicamento" class="btn btn-outline-info" data-medicamento-id="<%= dado.medicamento_id %>">
                                <i class="fas fa-eye"></i>
                            </button>
                             </div>
                            </td>
                          </tr>
                          <% }); %>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                      <% for(let i=1; i <=totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                          <a class="page-link" href="/medicamentos?currentPage=<%= i %>">
                            <%= i %>
                          </a>
                        </li>
                        <% } %>
                    </ul>
                  </div>
                </div>
                <!-- /.card -->
              </div>
            </div><!-- /.container-fluid -->

            <%- include('modal_insert_medicamentos.ejs') %>
            <%- include('modal_update_medicamentos.ejs') %>
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include('../partials/footer') %>
  </div>
  <!-- ./wrapper -->
  <%- include('../partials/scripts') %>
    <script src="js/medicamentos/medicamentos.js"></script>
    <script src="js/medicamentos/cadastroMedicamento.js"></script>
    <script src="js/medicamentos/updateMedicamento.js"></script>
    <script src="plugins/select2/js/select2.full.min.js"></script>
    <script src="plugins/inputmask/jquery.inputmask.min.js"></script>
</body>
</html>